$breakpoint: 769; /* desktop view */

$max-width: 1000; /* page wrapper */
$max-width-inline: 650; /* max inline text */
$max-width-inline-l: 820; /* max inline element*/


$color-white: #fff;
$color-white-hover: rgba(255,255,255, 0.7);
$color-black: #000;
$color-text: $color-black;
$color-text-inverted: $color-white;
$color-bg: $color-white;
$color-grey: #9B9B9B;

$color-primary: red;

$inuit-use-markup-fix: false;
$inuit-global-font-size:    16px;
$font-modificator: 2px;
$inuit-global-line-height:  24px;
$font-color: #333;

$spacing-unit: 10px;
$base-spacing-unit: $spacing-unit;


@import "g/reset";

@import "o/wrapper";
@import "o/ratio";
@import "o/media";
@import "o/aside";
@import "o/layout";
@import "o/flag";

@import "c/header";
@import "c/footer";
@import "c/link";
@import "c/image";

@import "u/text";
@import "u/space";
@import "u/grid";
@import "u/markdown";
