<div class="c-link c-link--box u-space-vert-2">

  <a href="{{url}}" alt="{{title}}">
    <h3 class="u-h4 c-link__underline u-space-bottom-1">{{title}}</h3>
    <p>{{description}}</p>  
  </a>

</div>