<aside class="o-aside o-aside--{{view}}">
  <div class="o-aside__item o-aside__item--{{view}}">

    {{> amp-img}}

    <p class="u-muted u-text-s u-line-height-2">{{description}}</p>

  </div>
</aside>