<aside class="o-aside o-aside--{{view}} o-aside--{{image.ratio}}">
  <div class="o-aside__item o-aside__item--{{view}} ">

    {{> amp-img}}

    <p class="u-muted u-text-s u-line-height-1-1/2 u-pad-vert-s o-aside__text o-aside__text--nofullwith">{{description}}</p>

  </div>
</aside>