
<div class="u-clearfix">
    
</div>
<div class="u-clear ">


  <h2 class="u-h2">
    {{title}}
  </h2>


  {{#each elements}}
    <div class="c-person">
      <h3>{{name}}</h3>
      <h4>
        {{description}}
      </h4>

      {{> amp-img image=image class="c-image--portrait"}}

    </div>

  {{/each}}
  
</div>
