<div class="c-footer">
  

  <div class="o-wrapper">
  
    <div class="u-markdown u-markdown--inverted u-text-center">
      {{{index.configs.footer_text.html}}}
    </div>
    
    <div class="u-text-center u-space-top-3">
      <a href="https://www.contentful.com/" rel="nofollow" target=“_blank”><img src="https://images.contentful.com/fo9twyrwpveg/7Htleo27dKYua8gio8UEUy/0797152a2d2f8e41db49ecbf1ccffdaa/PoweredByContentful_DarkBackground_MonochromeLogo.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" /></a>  
    </div>
    
  
  </div>
  
</div>