.u-markdown{
  p {
    line-height: 1.5rem;
    margin-bottom: $spacing-unit;
  }
  
  a {
    color: $color-primary;
    &:hover {
      text-decoration: underline;
      color: $color-primary;
    }
  }
  
  h1 {
    @include inuit-font-size($inuit-font-size-h1, $important: false);
    margin-bottom: $spacing-unit*2;
  }  
  
  h2 {
    @include inuit-font-size($inuit-font-size-h2, $important: false);
    margin-bottom: $spacing-unit*2;
  }
  h3 {
    @include inuit-font-size($inuit-font-size-h3, $important: false);
    margin-bottom: $spacing-unit*2;
  }
  h4 {
    @include inuit-font-size($inuit-font-size-h4, $important: false);
    margin-bottom: $spacing-unit*2;
  }
  
}

.u-markdown--inverted{
  color: $color-white;
  
  a {
    color: $color-white;
    text-decoration: underline;
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }
}