@import "clearfix";


  
.o-media {
  @include clearfix();
  display: block;
}


  .o-media__item {
    float: left;
    margin-right: $base-spacing-unit;
    

    > img {
      display: block;
    }

  }

  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }
