@import "inuit-font-size";

.c-header {
  border-top: 3px solid $color-primary;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
  margin-bottom: $spacing-unit*2;
}

.c-header__title{
  
}

.c-header__links{
  margin: $spacing-unit*1 $spacing-unit*-1 0 $spacing-unit*-1;
}

.c-header_link {
  text-decoration: none;
  padding: $spacing-unit;

  &:hover {
    color: $color-primary;
  }
}

.c-header__hamburger{
  position: relative;
  top: 2px;
  float: left;
  border: none;
  background: transparent;
  
  path {
    fill: $color-primary;
  }
}