@import "inuit-font-size";

.c-link {
  text-decoration: underline;
  &:hover {
    color: $color-primary;
  }
}


.c-link--sidemenu{
  text-decoration: none;
  display:block;
  padding: $spacing-unit;  
}



